body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
    
}

#clicked {
    background-color: white;
    padding: 2px;
    border-radius: 10px;
}

#resetBtn {
    display: none;
}

#emoji{
    font-size: 50px;
}